.container{
    display: flex;
    flex-direction: column;
    }

.display{
    flex : 1;
    text-align: end;
    border : black solid 1px;
    border-radius: 15px;
}

.under {
    display: flex;
    flex: 10;
}

button{
    border : 1px solid black;
    border-radius: 15px;
}

.playing{
    transform: scale(1.1);
    border: #ffc600 solid 3px;
    box-shadow: 0 0 10px #ffc600;
    transition: all 0.1s;
}

.digits {
    display: flex;
    flex-wrap: wrap;
    flex : 3;
}

.digits button{
    flex-basis: 33.3333333%;
}

.operator{
    display: flex;
    flex-direction: column;
    flex : 1
}

.operator button{
    flex :1;
    background-color: lightgray;
}

#zero{
    flex: 2;
}

#del{
    background-color: darkgray;
}
#ac{
    background-color: grey;
}
.operatorSelected {
    border: 3px solid red;
}